
/** funfact-section **/

.funfact-section{
  position: relative;
  background: var(--theme-color);
  padding: 60px 0px;
}

.funfact-block-one .inner-box{
  position: relative;
  display: block;
  text-align: center;
  padding: 10px 15px;
}

.funfact-block-one .inner-box:before{
  display: none;
}

.funfact-block-one:first-child .inner-box:before{
  display: none;
}

.funfact-block-one .inner-box .icon-box{
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 32px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: 50%;
  margin-bottom: 15px;
}

.funfact-block-one .inner-box .count-outer{
  position: relative;
  display: block;
  font-size: 36px;
  line-height: 40px;
  font-family: var(--title-font);
  color: #fff;
  font-weight: 600;
  margin-bottom: 5px;
}

.funfact-block-one .inner-box h4{
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.funfact-section .inner-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.funfact-section .owl-nav button{
  color: #fff !important;
  font-size: 24px !important;
}

.funfact-section .owl-nav button:hover{
  color: rgba(255,255,255,0.7) !important;
}












































